body {
  background: #eee;
}
header[role="banner"] {
  text-align: center;
}
header[role="banner"] hgroup img {
  margin: .5em 0;
}
header[role="banner"] nav {
  margin: 1em 0 .5em;
  text-align: center;
  transition: text-align 0.2s;
}
.feedthehorse > li {
  background: #fff;
  position: relative;
  border-radius: 5px;
}
.feedthehorse > li.twitter {
  background: #fff;
}
.feedthehorse > li .meta {
  display: block;
  padding: 5px 10px;
}
.feedthehorse > li .meta .avatar {
  margin-right: 1em;
}
.feedthehorse > li .cnt {
  padding: 10px 20px;
}
.feedthehorse > li footer {
  position: absolute;
  top: 5px;
  right: 5px;
  display: none;
}
.avatar:hover,
.avatar:focus {
  text-decoration: none;
}
@media all and (min-width: 768px) {
  header[role="banner"] {
    text-align: left;
  }
  header[role="banner"] nav {
    text-align: right;
  }
}
/* super secret #zottesfeer easter egg
 * CSS animated rainbow dividers of awesome
 * by Chris Heilmann @codepo8 and Lea Verou @leaverou
**/
@-moz-keyframes supersecret {
  from {
    background-position: top left;
  }
  to {
    background-position: top right;
  }
}
@-webkit-keyframes supersecret {
  from {
    background-position: top left;
  }
  to {
    background-position: top right;
  }
}
@-o-keyframes supersecret {
  from {
    background-position: top left;
  }
  to {
    background-position: top right;
  }
}
@-ms-keyframes supersecret {
  from {
    background-position: top left;
  }
  to {
    background-position: top right;
  }
}
@keyframes supersecret {
  from {
    background-position: top left;
  }
  to {
    background-position: top right;
  }
}
.zottesfeer {
  background-image: -webkit-linear-gradient(left, #ff0000, #ffa500, #ffff00, #008000, #0000ff, #4b0082, #ee82ee, #4b0082, #0000ff, #008000, #ffff00, #ffa500, #ff0000);
  background-image: -moz-linear-gradient(left, #ff0000, #ffa500, #ffff00, #008000, #0000ff, #4b0082, #ee82ee, #4b0082, #0000ff, #008000, #ffff00, #ffa500, #ff0000);
  background-image: -o-linear-gradient(left, #ff0000, #ffa500, #ffff00, #008000, #0000ff, #4b0082, #ee82ee, #4b0082, #0000ff, #008000, #ffff00, #ffa500, #ff0000);
  background-image: -ms-linear-gradient(left, #ff0000, #ffa500, #ffff00, #008000, #0000ff, #4b0082, #ee82ee, #4b0082, #0000ff, #008000, #ffff00, #ffa500, #ff0000);
  background-image: linear-gradient(left, #ff0000, #ffa500, #ffff00, #008000, #0000ff, #4b0082, #ee82ee, #4b0082, #0000ff, #008000, #ffff00, #ffa500, #ff0000);
  -moz-animation: supersecret 2.5s forwards linear infinite;
  -webkit-animation: supersecret 2.5s forwards linear infinite;
  -o-animation: supersecret 2.5s forwards linear infinite;
  -ms-animation: supersecret 2.5s forwards linear infinite;
  animation: supersecret 2.5s forwards linear infinite;
  background-size: 50% auto;
}
.zottesfeer .feedthehorse {
  -moz-perspective: 1000px;
  -moz-transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  -o-perspective: 1000px;
  -o-transform-style: preserve-3d;
  -ms-perspective: 1000px;
  -ms-transform-style: preserve-3d;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.zottesfeer .feedthehorse li {
  -moz-transition: 1s ease all;
  -webkit-transition: 1s ease all;
  -o-transition: 1s ease all;
  -ms-transition: 1s ease all;
  transition: 1s ease all;
  -moz-transform: rotatez(180deg);
  -webkit-transform: rotatez(180deg);
  -o-transform: rotatez(180deg);
  -ms-transform: rotatez(180deg);
  transform: rotatez(180deg);
}
.zottesfeer .feedthehorse li:hover {
  -moz-transform: rotatez(0);
  -webkit-transform: rotatez(0);
  -o-transform: rotatez(0);
  -ms-transform: rotatez(0);
  transform: rotatez(0);
}
