body {
  background: #eee;
}
header[role="banner"] {
  text-align: center;
}
header[role="banner"] hgroup img {
  margin: .5em 0;
}
header[role="banner"] nav {
  margin: 1em 0 .5em;
  text-align: center;
  transition: text-align 0.2s;
}
.feedthehorse {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.feedthehorse .masonry-brick {
  position: static !important;
}
.feedthehorse > li {
  margin: 30px 0;
  border-radius: 2px;
}
.feedthehorse > li .meta {
  display: block;
  padding: 5px 10px;
}
.feedthehorse > li .meta a {
  color: #666;
  text-decoration: underline;
}
.feedthehorse > li .meta a:hover {
  text-decoration: none;
  -moz-animation: rainbowhover 2s forwards linear infinite;
  -webkit-animation: rainbowhover 2s forwards linear infinite;
  -o-animation: rainbowhover 2s forwards linear infinite;
  -ms-animation: rainbowhover 2s forwards linear infinite;
  animation: rainbowhover 2s forwards linear infinite;
}
.feedthehorse > li .meta img {
  max-width: 48px;
  max-height: 48px;
  box-shadow: 0 0 0 2px #fff,
							0 0 2px 4px #aaa;
  margin-right: 10px;
}
.feedthehorse > li .cnt {
  background: #fff;
  padding: 10px;
  margin: 10px;
  -webkit-filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.3));
}
.feedthehorse > li.twitter .cnt {
  position: relative;
}
.feedthehorse > li.twitter .cnt:after {
  content: '.';
  text-indent: -9999em;
  display: block;
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-left-color: #fff;
  position: absolute;
  top: -20px;
  left: 24px;
  z-index: -1;
}
.feedthehorse > li.instagram .cnt figure {
  margin: 0;
}
.feedthehorse > li.instagram .cnt figcaption {
  display: block;
  font-weight: bold;
  padding: 5px 0;
}
.nojs .feedthehorse {
  display: block;
}
.avatar:hover,
.avatar:focus {
  text-decoration: none;
}
@media all and (min-width: 768px) {
  header[role="banner"] {
    text-align: left;
  }
  header[role="banner"] nav {
    text-align: right;
  }
  .feedthehorse .masonry-brick {
    position: absolute !important;
  }
  .feedthehorse > li {
    float: left;
    margin: 30px 1em;
    width: 300px;
  }
}
/* super secret #zottesfeer easter egg
 * CSS animated rainbow dividers of awesome
 * by Chris Heilmann @codepo8 and Lea Verou @leaverou
**/
@-moz-keyframes supersecret {
  from {
    background-position: top left;
  }
  to {
    background-position: top right;
  }
}
@-webkit-keyframes supersecret {
  from {
    background-position: top left;
  }
  to {
    background-position: top right;
  }
}
@-o-keyframes supersecret {
  from {
    background-position: top left;
  }
  to {
    background-position: top right;
  }
}
@-ms-keyframes supersecret {
  from {
    background-position: top left;
  }
  to {
    background-position: top right;
  }
}
@keyframes supersecret {
  from {
    background-position: top left;
  }
  to {
    background-position: top right;
  }
}
.zottesfeer {
  background-image: -webkit-linear-gradient(left, #ff0000, #ffa500, #ffff00, #008000, #0000ff, #4b0082, #ee82ee, #4b0082, #0000ff, #008000, #ffff00, #ffa500, #ff0000);
  background-image: -moz-linear-gradient(left, #ff0000, #ffa500, #ffff00, #008000, #0000ff, #4b0082, #ee82ee, #4b0082, #0000ff, #008000, #ffff00, #ffa500, #ff0000);
  background-image: -o-linear-gradient(left, #ff0000, #ffa500, #ffff00, #008000, #0000ff, #4b0082, #ee82ee, #4b0082, #0000ff, #008000, #ffff00, #ffa500, #ff0000);
  background-image: -ms-linear-gradient(left, #ff0000, #ffa500, #ffff00, #008000, #0000ff, #4b0082, #ee82ee, #4b0082, #0000ff, #008000, #ffff00, #ffa500, #ff0000);
  background-image: linear-gradient(left, #ff0000, #ffa500, #ffff00, #008000, #0000ff, #4b0082, #ee82ee, #4b0082, #0000ff, #008000, #ffff00, #ffa500, #ff0000);
  -moz-animation: supersecret 2.5s forwards linear infinite;
  -webkit-animation: supersecret 2.5s forwards linear infinite;
  -o-animation: supersecret 2.5s forwards linear infinite;
  -ms-animation: supersecret 2.5s forwards linear infinite;
  animation: supersecret 2.5s forwards linear infinite;
  background-size: 50% auto;
}
.zottesfeer .feedthehorse {
  -moz-perspective: 1000px;
  -moz-transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  -o-perspective: 1000px;
  -o-transform-style: preserve-3d;
  -ms-perspective: 1000px;
  -ms-transform-style: preserve-3d;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.zottesfeer .feedthehorse li {
  -moz-transition: 1s ease all;
  -webkit-transition: 1s ease all;
  -o-transition: 1s ease all;
  -ms-transition: 1s ease all;
  transition: 1s ease all;
  -moz-transform: rotateZ(180deg);
  -webkit-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}
.zottesfeer .feedthehorse li:hover {
  -moz-transform: rotateZ(0);
  -webkit-transform: rotateZ(0);
  -o-transform: rotateZ(0);
  -ms-transform: rotateZ(0);
  transform: rotateZ(0);
}
@keyframes rainbowhover {
  0% {
    color: #ff0000;
  }
  20% {
    color: orange;
  }
  40% {
    color: yellow;
  }
  60% {
    color: green;
  }
  80% {
    color: blue;
  }
  100% {
    color: violet;
  }
}
@-moz-keyframes rainbowhover /* Firefox */ {
  0% {
    color: #ff0000;
  }
  20% {
    color: orange;
  }
  40% {
    color: yellow;
  }
  60% {
    color: green;
  }
  80% {
    color: blue;
  }
  100% {
    color: violet;
  }
}
@-webkit-keyframes rainbowhover /* Safari and Chrome */ {
  0% {
    color: #ff0000;
  }
  20% {
    color: orange;
  }
  40% {
    color: yellow;
  }
  60% {
    color: green;
  }
  80% {
    color: blue;
  }
  100% {
    color: violet;
  }
}
@-o-keyframes rainbowhover /* Opera */ {
  0% {
    color: #ff0000;
  }
  20% {
    color: orange;
  }
  40% {
    color: yellow;
  }
  60% {
    color: green;
  }
  80% {
    color: blue;
  }
  100% {
    color: violet;
  }
}
