body {
  background: #eee;
}
header[role="banner"] {
  text-align: center;
}
header[role="banner"] nav {
  margin: 1em 0 .5em;
  text-align: center;
  transition: text-align 0.2s;
}
.feedthehorse > li {
  background: #fff;
  position: relative;
  border-radius: 5px;
}
.feedthehorse > li.twitter {
  background: #fff;
}
.feedthehorse > li .meta {
  display: block;
  padding: 5px 10px;
}
.feedthehorse > li .meta .avatar {
  margin-right: 1em;
}
.feedthehorse > li .cnt {
  padding: 10px 20px;
}
.feedthehorse > li footer {
  position: absolute;
  top: 5px;
  right: 5px;
  display: none;
}
@media all and (min-width: 768px) {
  header[role="banner"] {
    text-align: left;
  }
  header[role="banner"] nav {
    text-align: right;
  }
}
